.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  h1 {
    flex: 1;
  }
  .arrow {
    color: #2a9d8f;
    height: 35px;
    width: auto;
    transform: translateX(3px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateX(-3px);
      color: darken($color: #2a9d8f, $amount: 5);
    }
  }
  button {
    display: flex;
    align-items: center;
    height: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    .cart {
      height: 25px;
      width: auto;
    }
    p {
      background-color: #2a9d8f;
      font-weight: 600;
      font-size: 20px;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      align-items: center;
      justify-content: center;
      display: flex;
      color: white;
      margin-left: 10px;
    }
    &:hover {
      p {
        background-color: darken($color: #2a9d8f, $amount: 5);
      }
    }
  }
}

.inputs {
  display: flex;
  margin-bottom: 20px;
  input {
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background-color: #e9e9e9;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0px 10px;
  }
  .buttonSearch {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: darken($color: #2a9d8f, $amount: 5);
    }
    .search {
      width: 30px;
      height: auto;
      font-weight: 600;
      color: white;
    }
  }
  .buttonCreate {
    flex: 1;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: darken($color: #2a9d8f, $amount: 5);
    }
  }
}

@media (max-width: 800px) {
  .header {
    align-items: center;
    h1 {
      font-size: 20px;
    }
  }
  .inputs {
    align-items: center;
    flex-direction: column-reverse;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    .buttonSearch {
      width: 100%;
    }
    a {
      width: 100%;
      .buttonCreate {
        width: 100%;
      }
    }
  }
}
