.cart {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        h1 {
            flex: 1;
        }
        .arrow {
            color: #2a9d8f;
            height: 35px;
            width: auto;
            transform: translateX(3px);
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
                transform: translateX(-3px);
                color: darken($color: #2a9d8f, $amount: 5);
            }
        }
    }
    .price {
        margin: 10px 0px;
        font-weight: 600;
        font-size: 25px;
    }
    .footer {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input {
            height: 50px;
            font-size: 20px;
            font-weight: 600;
            background-color: #e9e9e9;
            outline: none;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
        }
        button {
            height: 50px;
            width: 500px;
            cursor: pointer;
            background-color: #2a9d8f;
            border: none;
            outline: none;
            border-radius: 20px;
            color: white;
            font-weight: 600;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: darken($color: #2a9d8f, $amount: 5);
            }
        }
    }
}