.header {
    display: flex;
    flex-direction: row-reverse;
    button {
        cursor: pointer;
        background-color: #2a9d8f;
        border: none;
        outline: none;
        margin: 20px 5px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(0.95);
        }
        .img {
            width: 25px;
            height: 100%;
        }
    }
}