.header {
  display: flex;
  flex-direction: row-reverse;

  .button {
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    outline: none;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(0.95);
    }
  }
}
