header {
    display: flex;
    margin: 20px 0px;
    align-items: center;
    h1 {
        margin: 0;
        padding: 0;
        flex: 1;
    }
    .arrow {
        color: #2a9d8f;
        height: 35px;
        width: auto;
        transform: translateX(3px);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
            transform: translateX(-3px);
            color: darken($color: #2a9d8f, $amount: 5);
        }
    }
}

.activity {
    display: flex;
    align-items: center;
    p {
        padding: 0;
        margin: 0;
        margin-right: 5px;
        font-weight: 500;
        font-size: 20px;
    }
    input[type="checkbox"] {
        margin: 0;
        padding: 0;
        margin-right: 20px;
        height: 20px;
        width: 20px;
        background-color: black;
    }
    button {
        cursor: pointer;
        background-color: #2a9d8f;
        border: none;
        outline: none;
        margin: 20px 5px;
        padding: 10px;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(0.95);
        }
    }
}

.create {
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: 10px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        background-color: #e9e9e9;
        outline: none;
        border: 2px solid #e9e9e9;
        padding: 10px 20px;
        border-radius: 20px;
    }
    button {
        height: 50px;
        width: 100%;
        cursor: pointer;
        background-color: #2a9d8f;
        border: none;
        outline: none;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: darken($color: #2a9d8f, $amount: 5);
        }
    }
}

.cashregs {
    display: flex;
    flex-wrap: wrap;
}