.check {
  display: flex;
  align-items: center;
  h1 {
    flex: 1;
    margin: 20px 0px;
  }

  button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #2a9d8f;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: darken($color: #2a9d8f, $amount: 5);
    }
    .home {
      width: 30px;
      height: auto;
      font-weight: 600;
      color: white;
    }
  }
  .block {
    box-shadow: 0px 0px 15px 10px #bbb;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .item {
      display: flex;

      div {
        flex: 1;
        border-bottom: 1px dashed #bbb;
      }
    }
  }
}
