h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cashregs {
    display: flex;
    flex-wrap: wrap;
}

.backBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .back {
        height: 50px;
        width: 200px;
        cursor: pointer;
        background-color: #2a9d8f;
        border: none;
        outline: none;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: darken($color: #2a9d8f, $amount: 5);
        }
    }
    .makeFree {
        height: 50px;
        width: 200px;
        cursor: pointer;
        background-color: #e63946;
        border: none;
        outline: none;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        margin-top: 20px;
        &:hover {
            background-color: darken($color: #e63946, $amount: 10);
        }
    }
}